footer .links a{
    color:#fff;
    text-decoration: none;
    margin-left: 20px;
    border-left: 2px solid #d64603;
    padding-left: 20px;
}

footer .links a:first-child{
    margin-left: 0;
    border: none;
}

.footer-sec-text a{
    text-decoration: none;
    color: #fff;
}
.footer-sec-text a:hover{
    color: #d64603;
    cursor: pointer;
}

.social-link div{
    height: 40px;
    width: 40px;
    background-color: #fff;
    color:#d64603;
    line-height: 40px;
    text-align: center;
    margin-right: 20px;
}
.social-link div:hover{
    color:#fff;
    background-color: #d64603;
}
.social-link div:last-child{
    margin-right: 0;
}
.social-link div svg{
    font-size:18px;
}