.banner-section{
    min-height: 800px;
    background-repeat: no-repeat;
}


.banner-text{
    padding: 200px 0;
}
.banner-text h2{
    font-size: 104px;    
    font-weight: 700;
    margin: 0;
}

.banner-text h3{
    font-size:60px;
}