/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rajdhani', sans-serif;
}

.font {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Poppins', sans-serif;
}

:root {
  --main-color: #ff5504;
  --black-color: #010718;
}

.custom-color {
  color: var(--main-color);
}

.bg-color {
  background-color: var(--black-color);
}

.primary-bg {
  background-color: var(--main-color);
}

/* navbar  */
.navbar {
  background-color: var(--black-color);
}

.navbar a:hover,
.logout:hover {
  color: var(--main-color) !important;
}

/* Button */
.card-btn {
  background-color: var(--main-color);
  font-size: 18px;
  color: #fff;
  border: none;
  padding: 8px 25px;
}

.custom-btn {
  background-color: var(--main-color);
  font-size: 25px;
  color: #fff;
  border: none;
  padding: 10px 25px;
}

.custom-btn:hover,
.card-btn:hover {
  background-color: #d64603;
}

.sec-title {
  font-size: 60px;
  font-weight: 700;
}
/* blog */
.latest-blog{
  overflow: hidden;
}
/* login form */
.form-container {
  padding: 3rem 3rem;
  width: 50%;
}

.single-service{
  background-color: #f2f6ff;
}

.single-selected{
  border-bottom: 1px solid #ffc4a9;
  margin-bottom: 10px;
}
.single-selected:last-child{
  border: 0;
}
.single-selected h4{
  font-size: 15px;
}

footer {
  background-color: var(--black-color);
}